/* logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

margin: 0 auto;
width: 227px;
height: 59.18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
