.logo-link:hover {
    width: 222px;
    height: 59.18px;
    opacity: 0.8;

}

.logo-link:active {
    opacity: 0.6;
}


.site-nav {
    background-color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-decoration:none;
    color: #000;
    text-transform: uppercase;
    list-style-type: none;
}

.site-nav  {
    color: #000;
    text-decoration: none;  
}

.site-nav:hover {
    color: #FF7500;
}

.site-nav:active {
    opacity: 0.6;
}



.sign-in {
    background-color: #FF7500;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    }

.sign-in:hover {
    opacity: 0.8;
}

.sign-in:active {
    opacity: 0.6;
}

.hero-line {
        background-color: orange;
        color:orange;
        height: 3px;
        width: 80px;

    }

.booking {
    background-color: #FF7500;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    }

.booking:hover {
    opacity: 0.8;
}

.booking:active {
    opacity: 0.6;
}

body {
        font-family: "Roboto", sans-serif;
    }

.section {
    background-color: #252420;
    color: #fff;
    }

li {
    list-style-type: none;
}

.promo {
    list-style-type: none;
}    

.text-promo {
    size: 16px;
    width: 314px;
    height: 113px;
}
    


.booking-kids {
    background-color: orange;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.booking-kids:hover {
    opacity: 0.8;
}

.booking-kids:active {
    opacity: 0.6;
}

.kids-part {
    background-color: #252420;
    color: #fff;
    border-radius: 20px;
    width: 1100px;
    height: 600px;
    top: 1555px;
    left: 170px;
    gap: 0px;
    opacity: 0px;

    }

.strong {
        color: orange;
    }


.footer {
    width: 1440px;
    height: 507px;
    top: 2219px;
    gap: 0px;
    opacity: 0px;
    background-color: #e7e7e7 ;

}

.footer-logo:hover {
    opacity: 0.8;
}

.footer-line {
    height: 2px;
    width: 1200px;
    color: #000;
    background-color: #302f2f;
}


.footer-icons {
    list-style-type: none;
    color: #000;
}

.footer-icons a {
    text-decoration: none;
    color: #000;
}

.footer-icons a:hover {
    color: #FF7500;
    
}

.footer-icons a:active {
    color: #FF7500;
    opacity: 0.6;
    transition: all 0.3s ease;
}



.footer-links {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 18.75px;
    list-style-type: none;
    width: 224;
}

.footer-links a {
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    color: #FF7500;
}

.footer-links a:active {
    opacity: 0.6;
    color: #FF7500;
}


